cite {
	color: var(--color-grey-600);
}

blockquote {
	border-left: 0.25rem solid;
	margin: 0 0 var(--spacing-4x);
	padding-left: var(--spacing-3x);

	& p {
		font-size: var(--font-size-xl);
		font-style: italic;
	}

	& p:last-of-type {
		margin-bottom: 0;
	}

	& cite {
		display: block;
		font-size: var(--font-size-md);
		margin-top: var(--spacing-4x);
	}
}
