:root {
	--primary-hue: 168;
	--color-primary-hsl: var(--primary-hue), 78%, 41%;
	--color-primary: hsl(var(--color-primary-hsl));
	--color-primary-100: hsl(var(--primary-hue), 67%, 96%);
	--color-primary-200: hsl(var(--primary-hue), 75%, 87%);
	--color-primary-300: hsl(var(--primary-hue), 73%, 74%);
	--color-primary-400: hsl(var(--primary-hue), 70%, 63%);
	--color-primary-500: var(--color-primary);
	--color-primary-600: hsl(var(--primary-hue), 91%, 32%);
	--color-primary-700: hsl(var(--primary-hue), 94%, 26%);
	--color-primary-800: hsl(var(--primary-hue), 98%, 20%);
	--color-primary-900: hsl(var(--primary-hue), 100%, 13%);

	--color-grey-100: hsla(0, 0%, 97%);
	--color-grey-200: hsla(0, 0%, 93%);
	--color-grey-300: hsla(0, 0%, 81%);
	--color-grey-400: hsla(0, 0%, 69%);
	--color-grey-500: hsla(0, 0%, 49%);
	--color-grey-600: hsla(0, 0%, 38%);
	--color-grey-700: hsla(0, 0%, 32%);
	--color-grey-800: hsla(0, 0%, 23%);
	--color-grey-900: hsl(0, 0%, 13%);

	--color-primary-shadow: var(--color-primary);

	--color-success-100: hsl(152, 68%, 96%);
	--color-success-500: hsl(164, 71%, 34%);

	--color-error-100: hsl(360, 100%, 97%);
	--color-error-500: hsl(360, 67%, 44%);

	--color-white: hsl(0, 0%, 100%);
	--color-black: hsl(0, 0%, 0%);
}
