---
pagination:
  data: posts
  size: 10
---

{% extends "layouts/base.njk" %}

{% set title = "Artikkelit" %}
{% set allArticles = pagination.items %}

{% block pageTitle %}
	<h1 class="entry__title">{{ title | safe }}</h1>
{% endblock %}

{% block content %}
	{% include "components/entry-archive.njk" %}

	{% include "components/pagination.njk" %}
{% endblock %}
