---
layout: layouts/page.njk
pagination:
  data: tags
  size: 1
permalink: "/tag/{{ tags[pagination.pageNumber].slug }}/index.html"
---

{% set allPosts = posts %}
{% set postTags = allPosts | postsByTagId(tags[pagination.pageNumber].id) %}

{% block content %}
	<ul>
		{%- for post in postTags -%}
			<li>
				<a href="/{{ post.date | dateForSlug }}/{{ post.slug }}" class="postlist-link">{% if post.title.rendered %}{{ post.title.rendered }}{% else %}{{ post.slug }}{% endif %}</a>
			</li>
		{%- endfor -%}
	</ul>
{% endblock %}
